body {
    background-repeat: repeat;
    background-color:#303036;
    text-align: center;
    color: white;
}

.box {
    height: 425px;
    width: 425px;
    background-color:#131211;
    border:#30BCED solid 5px;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

ul {
    display: inline-block;
    text-align: left;
}

nav {
    background-color: #131211;
    color: white;
    margin-left: 35%;
    margin-right: 35%;
    padding-bottom: 5px;
}


a:link {
    color: #30BCED;
}

a:visited {
    color: #0585b4;
}

a:hover {
    color: #8ce0ff;
}

h1 {
    font-size: 45px;
    color: white;
    text-decoration: underline;
    background-color: #4A4A4F;
    padding-top: 15px;
    padding-bottom: 15px;
    border:#30BCED solid 5px;
    
}

h2 {
    color: white;
}

.header-bottom {
    margin-bottom: 0.5rem;
}

footer {
    background-color: #4A4A4F;
    margin-top:20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border:#30BCED solid 5px;
}