/*HEADER AND NAVBAR*/
header {
    color: white;
    background-color: #4A4A4F;
    padding-top: 15px;
    padding-bottom: 0px;
}

h1 {
    font-size: 45px;
    text-decoration: underline;
}

.header-bottom {
    margin-bottom: 0.5rem;
}

nav {
    font-size: 25px;
    background-color: #131211;
    color: white;
    padding-bottom: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 41%;
    padding-right: 41%;
}

.navtext {
    text-decoration: none;
}

/*MAIN BODY*/
body {
    background-color:#303036;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
}

.box {
    height: 425px;
    width: 425px;
    background-color:#131211;
    border:#30BCED solid 5px;
    align-content: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

ul {
    display: inline-block;
    text-align: left;
}

a:link {
    color: #30BCED;
}

a:visited {
    color: #0585b4;
}

a:hover {
    color: #8ce0ff;
}


h2 {
    color: white;
}

/*FOOTER*/
footer {
    background-color: #4A4A4F;
    margin-top:20px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    bottom: 0;
}